- provide :title, 'Account'
.col-md-7
  .panel-default.panel
    .panel-heading
      %h3.panel-title Account
    .panel-body
      .col-md-4
        %center
          %img.img-responsive(src='http://gravatar.com/avatar/123')
          %h1.lead= current_user.name + " " + current_user.surname
          %hr
          = render 'shared/errors', flash: flash
      .col-md-8
        = form_for @user do |f|
          .form-group
            = f.label :email
            = f.email_field :email, class: 'form-control'
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :surname
            = f.text_field :surname, class: 'form-control'
          .form-group
            = f.label :current_password, 'Current password'
            = f.password_field :current_password, class: 'form-control'
          .form-group
            = f.label :password, 'New password'
            = f.password_field :password, class: 'form-control'
          .form-group
            = f.label :password_confirmation, 'New password confirmation'
            = f.password_field :password_confirmation, class: 'form-control'
          = f.submit 'Change', class: 'btn btn-primary form-control'
.col-md-5
  .panel-default.panel
    .panel-heading
      %h3.panel-title My diets
    .panel-body
  .panel.panel-default
    .panel-heading
      %h3.panel-title Add diet
  .panel-body