!!!
%html
  %head
    %title= yield(:title) 
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-fixed-top.navbar-default
      .container
        .navbar-header
          %a.navbar-brand(href='#')
            COOKING GENIE -
            = yield(:title)
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a(href='#') Home
            %li
              %a(href='#') Products
          = form_tag '#', class: 'navbar-form navbar-left' do
            .form-group
              = text_field_tag :search, nil, placeholder: 'Search'
            = submit_tag 'Submit', class: 'btn btn-default'
          %ul.nav.navbar-nav
            - if current_user.admin
              %li
                %a(href = "/manage") Manage
            %li
              %a(href="/about") About
          %ul.nav.navbar-nav.navbar-right
            %li
              %a(href='#') Account
            %li
              %a.glyphicon.glyphicon-log-out(href="#{signout_path}")
          %p.navbar-text.navbar-right= current_user.name + " " + current_user.surname
          %img.navbar-right.navbar-brand(src="http://gravatar.com/avatar/abc")
    .container#content
      = render 'layouts/notice', flash: flash
      = yield
